@{
    ViewData["Title"] = "Home Page";
}


<div>

    <div class="text-center">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Simple Form</title>
            <style>
                h2 {
                    font-size: 30px; /* Smaller size for the h2 */
                    margin-bottom: 20px;
                }
            </style>
        </head>
        <body>
            <h2> LOG IN</h2>
            <form action="/submit" method="post" enctype="multipart/form-data">

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>

                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>

                <button class="approve-button">Enter</button>

            </form>
        </body>
        </html>


    </div>
